<div>

</div>

{% schema %}
  {
    "name": "Campaign Banner",
    "settings": [
      {
        "type": "image_picker",
        "label": "Image",
        "id": "image"
      }
    ],
    "presets": [
      {
        "name": "Campaign Banner"
      }
    ]
  }
{% endschema %}