<div>  
  {% if section.settings.selected_products.size > 0 %}
    <div class="flex px-6 mb-10">
      {% for product in section.settings.selected_products limit:4 %}
        {% render 'product-card', product: product%}
      {% endfor %}
    </div>
  {% else %}
    {% assign first_collection = collections.first  %}
      {% if first_collection and first_collection.products.size > 0 %}
        {% assign products = first_collection.products %}
        <div class="flex px-6 mb-10">
          {% for product in products limit:4 %}
            {% render 'product-card', product: product%}
          {% endfor %}
        </div>
      {% endif %}
  {% endif %}
    
</div>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [{
      "type": "product_list",
      "label": "Products",
      "id": "selected_products",
      "limit": 4
    }],
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}