<div>
    Featured Products
</div>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [],
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}