<div class="grid grid-cols-8" id="product">
  <div class="p-6 col-span-4">
    {% if product.images.size > 0 %}
      {% comment %} <image-viewer :images="{{ product.images }}" /> {% endcomment %}
       <image-viewer />
      <hello-world msg="hello world" />
    {% else %}
      <p>No images available for this product.</p>
    {% endif %}
  </div>

  <div class="p-6 col-span-4 mt-4">
    <h2 class="text-3xl">{{ product.title }}</h2>
    <p class="mt-8 text-sandyBrown">{{ product.price | money }}</p>
    <button class="mt-8 text-cafeNoir py-4 px-8 border-2 border-cafeNoir rounded">
      Add to Cart
    </button>
    <p class="mt-8">{{ product.description }}</p>
  </div>
</div>

<script>

</script>

{% schema %}
  {
    "name": "Main Product",
    "settings": []
  }
{% endschema %}