<div class="grid grid-cols-8 p-8">
  {% for collection in collections %}
    <div class="col-span-4 p-4 relative">
      <a href="{{ collection.url }}">
        <div class="w-full h-60 overflow-hidden rounded border-2 border-lapisLazuli">
          <img src="{{ collection.image | image_url }}" width="30em" height="100%" class="w-full h-full object-cover">
        </div>
        <p class="text-lapisLazuli text-xl absolute bottom-6 left-7">
          {{ collection.title }}
        </p>
    </a>
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Main Collections List",
    "settings": []
  }
{% endschema %}